extends layout

block content
  nav
    div.menu
    div.sandwich-button
      a(id="nav-toggle", href="#")
        span
    div.login-menu
      a(href="#") Log In
      |/
      a(href="#") Sign In

  section.main-menu-container
    ul
      li
        i.home-icon
        |Home
      li
        i.log-in-icon
        |Log In

  section.main-section
    div.container
      div.logo
        h1
          span S
          |horty
        img(src="img/cursor.svg", class="img-logo-cursor")
        img(src="img/man.svg", class="img-logo-man")
      form
        input(type="text", name="main-text-box")
        input(type="submit", name="submit" value="Short me")

  section.form-container
    form.animate
      button
        span
      label YourShorty:
      input(type="text", name="short-link")
      input(type="button", name="ok-button", value="OK")

  footer
    p Copyright © HiTech Sandbox 2016
