<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="Pinguin" author="Pinguin">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media.css">
  </head>
  <body>
    <nav>
      <div class="menu"></div>
      <div class="sandwich-button"><a id="nav-toggle" href="#"><span></span></a></div>
      <div class="login-menu"><a href="#">Log In</a>/<a href="#">Sign In</a></div>
    </nav>
    <section class="main-menu-container">
      <ul>
        <li><i class="home-icon"></i>Home</li>
        <li><i class="log-in-icon"></i>Log In</li>
      </ul>
    </section>
    <section class="main-section">
      <div class="container">
        <div class="logo">
          <h1><span>S</span>horty</h1><img src="img/cursor.svg" class="img-logo-cursor"><img src="img/man.svg" class="img-logo-man">
        </div>
        <form>
          <input type="text" id="mainTextBox">
          <input type="button" name="submit" value="Short me" id="submitButton">
        </form>
      </div>
    </section>
    <section class="form-container">
      <form class="animate">
        <button><span></span></button>
        <label>YourShorty:</label>
        <input type="text" id="shortLink">
        <input type="button" name="ok-button" value="OK">
      </form>
    </section>
    <footer>
      <p>Copyright © HiTech Sandbox 2016</p>
    </footer>
    <!--
    <[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]>
    
    -->
    <script src="libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="libs/modernizr/modernizr.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>